<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>system.wang.web.controller.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>system.wang.web.controller.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterUIServlet</servlet-name>
    <servlet-class>system.wang.web.UI.RegisterUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>system.wang.web.UI.LoginUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageUploadServlet</servlet-name>
    <servlet-class>system.wang.web.controller.ImageUploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/servlet/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUIServlet</servlet-name>
    <url-pattern>/servlet/RegisterUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/servlet/LoginUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet</servlet-name>
    <url-pattern>/servlet/ImageUploadServlet</url-pattern>
  </servlet-mapping>
</web-app>